### Eclipse ###
.metadata
bin/
tmp/
local.properties
.settings/
.loadpath
.recommenders
.project
.classpath

### Intellij ###
.idea/
*.iml
*.ipr
*.iws
out/

### Java ###
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Gradle ###
.gradle
build/
gradle-app.setting
.gradletasknamecache
**/build/

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Allure-Reports ###
allure-results/

# End
